.bordeCalculadora {
	background-color: beige;
	width: 600px;
	padding-bottom: 30px;
}
.resultado {
	font-size: 30px;
	text-align: center;
}
.container {
	>button {
		background-color: #f1f1f1;
		width: 75px;
		margin: 10px;
		text-align: center;
		line-height: 50px;
		font-size: 30px;
	}
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: DodgerBlue;
	width: 450px;
}
