<table class="table table-striped table-hover">
  <thead>
    <tr class="table-info">
      <th class="display-4">Lista de categorias</th>
      <th class="text-end"><button *ngIf="VM.auth.isAutenticated" class="btn btn-success" (click)="VM.add()"><i class="fas fa-plus"></i>
          Añadir</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of VM.Listado">
      <td>
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <button type="button" class="btn btn-link btn-lg px-0" (click)="VM.view(item.id)">
                {{item.nombre}}</button>
              <br>
            </div>
          </div>
        </div>
      </td>
      <td class="align-middle text-end">
        <app-botones (view)="VM.view(item.id)" (edit)="VM.edit(item.id)" (delete)="VM.delete(item.id)"></app-botones>
      </td>
    </tr>
  </tbody>
</table>
