@use 'principales' as *;
@import url('variables.css');

$modulo: formulario-body;
$main: main-body;

.error-msg {
    color: var(--error-color);
}
.grande {
    font-size: 4em;
}

@media screen and (max-width:350px){
    img {
        display: none;
    }
}

.#{$modulo}__section{
    background-color: var(--box-color);
 text-align: center;
 border-radius: 25px;
 box-shadow: 10px 10px 5px grey;
 padding-bottom: 30px;
 padding-top: 30px;
 
}

.pag-formulario body{
    background-color: var(--wallpaper-color);

}
.#{$modulo}__div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.#{$modulo}__footer{
    @include elementosFooter();
}

.#{$main}__footer{
    height: 50px; 
    background:var(--footer-color); 
    width:100%; 
    bottom:0; 
    left:0; 
    color: var(--footer-letters);
    text-align: center;
   
}

.#{$main}__body{
    background-color: var(--wallpaper-color);
    
}

.pag-main article{
    border-radius: 25px;
    background-color: var(--box-color);
    padding: 10px;
    margin: 10px;
   

}

.#{$main}__section{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 350px;
    flex-direction: row;
}


.box{
    display: flex;
    margin-right: 10px;
    flex-wrap: wrap;
    
}

.pag-main button{
    border: none;
    color: var(--button-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.pag-presentacion body{
    background-color: var(--wallpaper-color);
}
.pag-presentacion article{
    display: flex;
    background-color: var(--box-color);
    border-radius: 25px;
    margin-bottom: 5px;
    padding-left: 10px;
    
    
}
.presentacion-body__footer{
    @include elementosFooter();
}


@media print {
    input[type=submit], input[type=button], input[type=reset] {
        display: none;
    }
    body > header {
        display: none;
    }
    body {
        font-size: 10pt;
    }
    img {
        max-width: 200px;
    }
}